{% extends "investor/investorHomepage3.html" %} {% block title %}investment_details| Bizconnect{% endblock title %}{% load static %}
<div class="services__area section-padding 0">
    <div class="content wrapper mt-80">
       <div class="container  mt-25">
           <div class="row mb-50">
               <div class="col-xl-12 col-lg-12 col-md-12">
                   <div class="services__area-section-title t-center">
                       <span class="section-top mb-15">INVESTMENT DEALs</span>
                       <h2>View the diiferent deals to invest in</h2>
                   </div>					
               </div>			
           </div>
           <div class="services__area section-padding 0">
            <div class="content wrapper mt-80">
               <div class="container  mt-25">
                   <div class="row mb-50">
                       <div class="col-xl-12 col-lg-12 col-md-12">
                           <div class="services__area-section-title t-center">
                               <span class="section-top mb-15">INVESTMENT DEALs</span>
                               <h2>View the diiferent deals to invest in</h2>
                           </div>					
                       </div>			
                   </div>
                    <div class="row">
                        <div class="blog__standard-left-item col-lg-6 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog__standard-left-item-content mt-30">
                                <ul>
                                    <li class="mr-30 md-mr-15"><i class="flaticon-suitcase"></i> type</li>
                                    <li><i class="flaticon-time-is-money"></i> type</li>
                                </ul>
                                <h3 class="mb-15">Title</h3>
                                <p class="mb-20">descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptions </p>
                                <div class="pr-30 row">
                                    <span class="col-md-4"><a href="#">Accept</a></span>
                                    <span class="col-md-4"><a href="#">Reject</a></span>
                                </div>
                            </div>               
                        </div>
                        <div class="row">
                        <div class="blog__standard-left-item col-lg-6 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog__standard-left-item-content mt-30">
                                <ul>
                                    <li class="mr-30 md-mr-15"><i class="flaticon-suitcase"></i> type</li>
                                    <li><i class="flaticon-time-is-money"></i> type</li>
                                </ul>
                                <h3 class="mb-15">Title</h3>
                                <p class="mb-20">descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptions </p>
                                <div class="pr-30 row">
                                    <span class="col-md-4"><a href="#">Accept</a></span>
                                    <span class="col-md-4"><a href="#">Reject</a></span>
                                </div>
                            </div>               
                        </div>
                        <div class="blog__standard-left-item col-lg-6 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog__standard-left-item-content mt-30">
                                <ul>
                                    <li class="mr-30 md-mr-15"><i class="flaticon-suitcase"></i> type</li>
                                    <li><i class="flaticon-time-is-money"></i> type</li>
                                </ul>
                                <h3 class="mb-15">Title</h3>
                                <p class="mb-20">descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptions descriptionsdescriptionsdescriptionsdescriptions descriptionsdescriptions </p>
                                <div class="pr-30 row">
                                    <span class="col-md-4"><a href="#">Accept</a></span>
                                    <span class="col-md-4"><a href="#">Reject</a></span>
                                </div>
                            </div>               
                        </div>   
                   </div>
               </div>
           </div>
        
        


{% endblock %}

 

   {% endblock %}