{% extends "investor/investorHomepage3.html" %} {% block title %}Resource Form | Bizconnect{% endblock title %}{% load static %}
<div class="content wrapper mt-80">
    <div class="testimonial__area section-padding wow fadeInUp">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-4 col-lg-5 lg-mb-30 " data-wow-delay="0.4s">
					<div class="testimonial__area-title">
						<span class="section-top mb-35">BUSINESS DEALS</span>
						<h5 class="mb-20">Here are your capable investments deals</h5>						
					</div>
					<div class=" mt-30">
							<a class="theme-bg-btn">search</a>
						</div>
					</div>
{% block content %}