{% extends "expert/investorHomepage3.html" %} {% block title %}Resource Form | Bizconnect{% endblock title %}{% load static %}
<div class="content wrapper mt-80">
    <div class="testimonial__area section-padding wow fadeInUp">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-4 col-lg-5 lg-mb-30 " data-wow-delay="0.4s">
					<div class="testimonial__area-title">
						<span class="section-top mb-15">BUSINESS DEALS</span>
						<h2 class="mb-45">Here are your capable investments deals</h2>						
					</div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="solution__area-right t-right lg-center">
                             <button type="submit" class="theme-bg-btn">Search</button>						
                        </div>					
                    </div>
{% block content %}