{% extends "investor/investorHomepage3.html" %} {% block title %}investment_details| Bizconnect{% endblock title %}{% load static %}
<div class="content wrapper mt-80">
    <div class="container ">
        <div class="blog__standard-left">
            <div class="blog__standard-left-item mb-30">
                
                <div class="blog__standard-left-item-content">
                    <ul>
                        <li ><h3 style="font-size: 30px;">view capable deals here</h3></li>
                    </ul>                         
                </div>
            </div>
        </div>		
 <ul>
    <div= "row">
     <li>
       <div class="col-xl-4 col-lg-4 col-md-6 lg-mb-30">
         <div class="features__area-item wow fadeInUp" data-wow-delay="0.3s">
                <div class= "features__area-item-image -top mb-20 d-flex align-items-center">
                    <div class="features__area-item-top-title">
                        <h3></h3>
                    </div>
                </div>
                <div class="features__area-item-content pt-20">
                    <p class="mb-25">Maecenas sagittis, quam vel interdum malesuada, nibh metus consectetur felis, cursus</p>
                    <a href="services-details.html">Read More</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="col-xl-4 col-lg-4 col-md-6 lg-mb-30">
          <div class="features__area-item wow fadeInUp" data-wow-delay="0.3s">
                 <div class= "features__area-item-image -top mb-20 d-flex align-items-center">
                     <div class="features__area-item-top-title">
                         <h3></h3>
                     </div>
                 </div>
                 <div class="features__area-item-content pt-20">
                     <p class="mb-25">Maecenas sagittis, quam vel interdum malesuada, nibh metus consectetur felis, cursus</p>
                     <a href="services-details.html">Read More</a>
                 </div>
             </div>
         </div>
     </li>
</div>
</ul>