{% extends "investor/investorHomepage3.html" %} {% block title %}investment_details| Bizconnect{% endblock title %}{% load static %}
<div class="services__area section-padding">
    <div class="content wrapper mt-20">
       <div class="services__area section-padding">
       <div class="container">
           <div class="row mb-50">
               <div class="col-xl-12 col-lg-12 col-md-12">
                   <div class="services__area-section-title t-center">
                       <span class="section-top mb-15">INVESTMENT DEALs</span>
                       <h2>View the diiferent deals to invest in</h2>
                   </div>					
               </div>			
           </div>
             <div class="row">
					<div class="services__area-item wow col-lg-6 mb-30 fadeInUp" data-wow-delay="1.2s">
						<div class="services__area-item-top mb-20 d-flex align-items-center">
							<div class="services__area-item-top-icon">
								<i class="flaticon-profits"></i>
							</div>
							<div class="services__area-item-top-title">
								<h3>investment consulting</h3>
							</div>
						</div>
						<div class="services__area-item-content pt-20">
							<p class="mb-25">Maecenas sagittis, quam vel interdum malesuada, nibh metus consectetur felis, cursus</p>
							<a href="services-details.html">Read More</a>
						</div>
					</div>
				</div>
                <div class="row">
                        <div class="services__area-item wow col-lg-6 mb-30 fadeInUp " data-wow-delay="1.2s">
                            <div class="services__area-item-top mb-20 d-flex align-items-center">
                                <div class="services__area-item-top-icon">
                                    <i class="flaticon-profits"></i>
                                </div>
                                <div class="services__area-item-top-title">
                                    <h3>investment consulting</h3>
                                </div>
                            </div>
                            <div class="services__area-item-content pt-20">
                                <p class="mb-25">Maecenas sagittis, quam vel interdum malesuada, nibh metus consectetur felis, cursus</p>
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
           </div>
       </div>
   </div> 



{% endblock %}

 

   {% endblock %}