
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Start Meta -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="description" content="Bizconnect - Business Management Platform" />
     <meta name="keywords" content="Creative, Digital, multipage, landing, freelancer template" />
     <meta name="author" content="ThemeOri">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Title of Site -->
     <title>Bizconnect - Business Management Platform</title>
     <!-- Favicons -->
     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
     <!-- fontawesome -->
     <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
     <!-- Animate CSS -->
     <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
     <!-- Swiper -->
     <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
     <!-- Magnific -->
     <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
     <!-- Nice Select -->
     <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
     <!-- Mean menu -->
     <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
     <!-- Flaticon -->
     <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="{% static 'assets/sass/style.css' %}">

 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar and Top Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="#home" class=""></a>
        <a href="#news"></a>
        <a href="#contact"></a>
        <a href="#about"></a>
        <div class="topnav-right">
            <a href="#search">Profile</a>
            <a href="#login">LogOut</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="sidebar">
        <a href="#home">Welcome Back</a>
        <a href="#" > Consultation Requests</a>
        <a href="#news"> Upcoming consultations</a>
        <a href="#contact">Feedback</a>
        <a href="#about"> Resources</a>
        <a href="#about"> Packages</a>
        <a href="#about"> LogOut</a>
    </div>
  
    {% block content %}
    <div class="content">
        <p>welcome back </p>
         <div class="features__area section-padding pb-0">
             <div class="container">
                 <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-6 lg-mb-30">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.3s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>01</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-analysis"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Strong Business Planing</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-6 md-mb-30">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.6s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>02</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-data-scientist"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Business Management</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-6 md-mb-30">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.9s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>03</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-digital-marketing"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Marketing Advice</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-6">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="1.2s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>04</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-big-data"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Expert User Research</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    {% endblock content %}
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dropdownBtns = document.getElementsByClassName('dropdown-btn');
            for (var i = 0; i < dropdownBtns.length; i++) {
                dropdownBtns[i].addEventListener('click', function() {
                    this.classList.toggle('active');
                    var dropdownContainer = this.nextElementSibling;
                    if (dropdownContainer.style.display === 'block') {
                        dropdownContainer.style.display = 'none';
                    } else {
                        dropdownContainer.style.display = 'block';
                    }
                });
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!-- Main JS -->
 <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
 <!-- Counterup -->
 <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
 <!-- Popper JS -->
 <script src="{% static 'assets/js/popper.min.js' %}"></script>
 <!-- Progressbar JS -->
 <script src="{% static 'assets/js/progressbar.min.js' %}"></script>
 <!-- Magnific JS -->
 <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
 <!-- Swiper JS -->
 <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
 <!-- Waypoints -->
 <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
 <!-- Mean menu -->
 <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
 <!-- Nice Select -->
 <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
 <!-- WOW JS -->
 <script src="{% static 'assets/js/wow.min.js' %}"></script>
 <!-- Custom JS -->
 <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


</html>