{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Start Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Bizconnect - Business Management Platform" />
    <meta name="keywords" content="Creative, Digital, multipage, landing, freelancer template" />
    <meta name="author" content="ThemeOri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title of Site -->
    <title>Business Ideals | Bizconnect</title>
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-lQPthLnNj1D8rDsy3i+2r5PpBqObJ8v2T1RQJ/6mPcI=" crossorigin="anonymous" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- Swiper -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/sass/style.css' %}">
    <!-- Include your custom CSS -->
</head>

<body>
    {% block content %}
    <div class="topnav" id="myTopnav">
        <a href="#home" class=""></a>
        <a href="#news"></a>
        <a href="#contact"></a>
        <a href="#about"></a>
        <div class="topnav-right">
            <a href="#search">Profile</a>
            <a href="#login">LogOut</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="custom_sidebar sidebar">
        <ul>
            <li><a href="{% url 'homepage1'%}">Dashboard</a></li>
            
            <li>
                <a href="javascript:void(0)">Business Ideals</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="dropdown-btn">Expert Consultation</a>
                <ul class="dropdown-container">
                    <li><a href="/consultation/request"><span class="small-dot">&bull;</span>Service Requests</a></li>
                    <li><a href="/consultation/schedule"><span class="small-dot">&bull;</span>Consultation Scheduling</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" class="dropdown-btn">Investments</a>
                <ul class="dropdown-container">
                    <li><a href="/investment/deal-listings"><span class="small-dot">&bull;</span>Deal Listings</a></li>
                    <li><a href="/investment/performance-tracking"><span class="small-dot">&bull;</span>Performance Tracking</a></li>
                </ul>
            </li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </div>
  

    <div class="content mt-80">
        <div class="container mb-30">
            <h3 style="font-size: 30px;">Business Ideals</h3>
            <p class="mt-20">You are required to submit your business ideas, financial projections and goals.</p>
        </div>
        <div class="container mt-25">
            <div class="row">
                <div class="col-xl-12">
                    <div class="register wow fadeInUp" data-wow-delay="0.8s">
                        <h4 class="mb-35">All Fields are required.</h4>
                        <div class="register-form">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="text" name="title" placeholder="Title of Idea" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="description"
                                                placeholder="Describe your idea" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="register-form-group">
                                            <select id="industry" name="industry" required>
                                                <option value="">Select Ideal Industry</option>
                                                <option value="technology">Technology</option>
                                                <option value="education">Education</option>
                                                <option value="healthcare">Healthcare</option>
                                                <option value="real-estate">Real Estate</option>
                                                <option value="tourism">Tourism</option>
                                                <option value="retail">Retail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="market" required
                                                placeholder="Describe your target market"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="business-model" required
                                                placeholder="Explain how the business will make money."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="References" required
                                                placeholder="Summarise your financial projections (revenue, expenses, profit) for the next few years."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="goals"
                                                placeholder="Key goals and milestones for the business idea."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="pitch-deck" placeholder="Upload the pitch deck in PDF or PowerPoint format" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="plan" placeholder="Upload a detailed business plan in PDF or PowerPoint format" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="video" placeholder="Upload a video pitch for your business." accept="video/*">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="support" placeholder="Supporting documents." multiple>
                                        </div>
                                    </div>
                                    
                                    <label for="wholesale">
                                        <input type="checkbox" id="confidentiality" name="confidentiality" required>
                                        <span class="custom-checkbox"></span> I agree to the confidentiality terms.
                                    </label>
    
                                    
    
                                </div>
                                <div class="row">
                                    <div class="col-xl-2 col-md-3 mb-20">
                                        <div class="register-form-group">
                                            <button class="theme-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-3">
                                        <div class="register-form-group">
                                            <button class="theme-btn" style="background: #030A15;" type="button" onclick="javascript:history.back()">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dropdownBtns = document.getElementsByClassName('dropdown-btn');
            for (var i = 0; i < dropdownBtns.length; i++) {
                dropdownBtns[i].addEventListener('click', function() {
                    this.classList.toggle('active');
                    var dropdownContainer = this.nextElementSibling;
                    if (dropdownContainer.style.display === 'block') {
                        dropdownContainer.style.display = 'none';
                    } else {
                        dropdownContainer.style.display = 'block';
                    }
                });
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!-- Main JS -->
 <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
 <!-- Counterup -->
 <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
 <!-- Popper JS -->
 <script src="{% static 'assets/js/popper.min.js' %}"></script>
 <!-- Progressbar JS -->
 <script src="{% static 'assets/js/progressbar.min.js' %}"></script>
 <!-- Magnific JS -->
 <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
 <!-- Swiper JS -->
 <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
 <!-- Waypoints -->
 <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
 <!-- Mean menu -->
 <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
 <!-- Nice Select -->
 <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
 <!-- WOW JS -->
 <script src="{% static 'assets/js/wow.min.js' %}"></script>
 <!-- Custom JS -->
 <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


</html>