{% extends "entreprenuer/homepage1.html" %} {% block title%}Business Ideals | Bizconnect{%endblock%} {% load static%} {% block content %}



    <div class="content mt-80">
        <div class="container mb-30">
            <h3 style="font-size: 30px;">Business Ideals</h3>
            <p class="mt-20">You are required to submit your business ideas, financial projections and goals.</p>
        </div>
        <div class="container mt-25">
            <div class="row">
                <div class="col-xl-12">
                    <div class="register wow fadeInUp" data-wow-delay="0.8s">
                        <h4 class="mb-35">All Fields are required.</h4>
                        <div class="register-form">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="text" name="title" placeholder="Title of Idea" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="description"
                                                placeholder="Describe your idea" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="register-form-group">
                                            <select id="industry" name="industry" required>
                                                <option value="">Select Ideal Industry</option>
                                                <option value="technology">Technology</option>
                                                <option value="education">Education</option>
                                                <option value="healthcare">Healthcare</option>
                                                <option value="real-estate">Real Estate</option>
                                                <option value="tourism">Tourism</option>
                                                <option value="retail">Retail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="market" required
                                                placeholder="Describe your target market"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="business-model" required
                                                placeholder="Explain how the business will make money."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="References" required
                                                placeholder="Summarise your financial projections (revenue, expenses, profit) for the next few years."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <textarea name="goals"
                                                placeholder="Key goals and milestones for the business idea."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="pitch-deck" placeholder="Upload the pitch deck in PDF or PowerPoint format" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="plan" placeholder="Upload a detailed business plan in PDF or PowerPoint format" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="video" placeholder="Upload a video pitch for your business." accept="video/*">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <input type="file" name="support" placeholder="Supporting documents." multiple>
                                        </div>
                                    </div>
                                    
                                    <label for="wholesale">
                                        <input type="checkbox" id="confidentiality" name="confidentiality" required>
                                        <span class="custom-checkbox"></span> I agree to the confidentiality terms.
                                    </label>
    
                                    
    
                                </div>
                                <div class="row">
                                    <div class="col-xl-2 col-md-3 mb-20">
                                        <div class="register-form-group">
                                            <button class="theme-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-3">
                                        <div class="register-form-group">
                                            <button class="theme-btn" style="background: #030A15;" type="button" onclick="javascript:history.back()">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

