{% extends "entreprenuer/homepage1.html" %} {% block title %}Business Ideals |
Bizconnect{% endblock title %}{% load static %} {% block content %}

<div class="content mt-80">
    
    <div class="container ">
        <div class="blog__standard-left">
            <div class="blog__standard-left-item mb-30">
                
                <div class="blog__standard-left-item-content">
                    <ul>
                        <li ><h3 style="font-size: 30px;">Trying to schedule your requests</h3></li>
                    </ul>
                    <p class="mb-20"><span class="small-dot">&bull;</span> Fill out the form below to request for a scheduled meeting with your designated business expert for assistance. These meetings will be held <span style="font-size: 20px; color: #fe8c12; font-weight: 800;">ONLINE</span> to save resources.</p>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="register wow fadeInUp" data-wow-delay="0.8s">
                    <h4 class="mb-35">All Fields with (*) are required.</h4>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group"> {% comment "This is a reminder about the scheduling of meetings" %} This feild is meant to search
                                         and return the desired meeting to be scheduled.{% endcomment %}
                                        <label>Title <span style="color: red;">*</span></label>
                                        <input type="text" name="title" placeholder="Title of the meeting" required>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Expert <span style="color: red;">*</span></label>
                                        <input type="text" id="expert" name="expert"  required>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Preferred Consultation Date <span style="color: red;">*</span></label>
                                        <input type="date" id="consultation-date" name="consultation_date"  required>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">  {# This should return the already set date for the meeting as the starting date. #}
                                        <label>Start Time <span style="color: red;">*</span></label>
                                        <input type="time" id="start-time" name="start_time"  required>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>End Time <span style="color: red;">*</span></label>
                                        <input type="time" id="end-time" name="end_time"  required>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Scheduled online link<span style="color: red;">*</span></label>
                                        <input type="url" id="link" name="link"  required>
                                    </div>
                                </div>
                                
                                <div class="col-xl-3 col-md-6 col-lg-4 mb-20">
                                    <div class="register-form-group">
                                        <button class="theme-btn" type="submit">Submit</button>
                                    </div>
                                </div>
                                          
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}